body{
    display: grid;
    grid-template-columns: 4% 96%;
}
nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
nav div{
    display: flex;

}
aside{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 15px 0;
}
aside div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
section div{
    display: grid;
    grid-template-columns: 4% 96%;
}
.gap25{
    gap: 25px;


}



.columna{
    display: flex;
     
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding: 2%;
    
}
.primer{
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
   padding: 4px;

}


